.basket-product {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 20px;
    border-bottom: 2px solid rgb(62, 62, 62);
    padding: 20px 0;
}

.basket-info {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    text-align: center;
    border-bottom: 2px solid rgb(62, 62, 62);
    padding: 10px 0;
    p {
        font-size: 20px;
        color: rgb(135, 132, 132);
    }
}

.basket-product-img {
    img {
        height: 247px;
        width: 182px;
    }
}

.basket-product-info {
    display: flex;
    line-height: 1.3em;
    gap: 10px;
    ul {
        margin-top: 15px;
    }
    li {
        color: rgb(135, 132, 132);
    }
}

.basket-product-characteristic {
    a:hover {
        color: orange;
    }
}

.basket-product-counter {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.basket-product-price {
    margin: auto 0;
    p {
        font-size: 32px;
    }
}