header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5% 10%;
    border-bottom: 1px solid white;
    align-items: center;
}

.header-count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    top: -12px;
    left: 12px;
    height: 10px;
    font-size: 10px;
    font-weight: 800;
    padding: 5px 5px;
    background-color: orange;
    border-radius: 100%;
    margin-bottom: -20px;
}