@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300&family=Quintessential&family=Raleway:wght@200&family=Roboto:wght@100;400&family=Supermercado+One&display=swap');

body {
    background-color: rgb(24, 23, 23);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 22px;
}

main {
    min-height: 90vh;
    margin-bottom: 30px;
}